<div class="jumbotron text-center">
    <h1>Hello from Home!</h1>
</div>
<!--<div layout="row" layout-margin layout-padding>-->
    <!--<div style="background-color: lightcoral;" flex="25">-->
        <!--<div layout="row">-->
            <!--<div layout="column">-->
                <!--<div flex>-->
                    <!--<h1>2867</h1>-->
                    <!--<p>Registered Users</p>-->
                    <!--<p>5% Higher than last week</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div layout="column" layout-align="end center">-->
                <!--<div flex>-->
                    <!--<i class="material-icons" style="font-size: 150px;">person outline</i>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div style="background-color: lightcoral;" flex="25">-->
        <!--15%-->
        <!--Server load-->
        <!--1% Higher than last week-->
    <!--</div>-->
    <!--<div style="background-color: lightcoral;" flex="25">-->
        <!--590-->
        <!--New Orders-->
        <!--3% Higher than last week-->
    <!--</div>-->
    <!--<div style="background-color: lightcoral;" flex="25">-->
        <!--10971-->
        <!--Total Visitors-->
        <!--15% Higher than last week-->
    <!--</div>-->
<!--</div>-->
<!--<div layout="row" layout-margin layout-padding>-->
    <!--<div flex="50">-->
        <!--<div layout="column">-->
            <!---->
        <!--</div>-->
    <!--</div>-->
    <!--<div flex="50">-->
        <!--<div layout="column">-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="dashboard-gridlist">
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="8" md-row-height-gt-md="2:2" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile class="red" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
            <md-grid-tile-footer>
                <h3>Calories Consumed Today</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile  class="blue" md-rowspan="1" md-colspan="2">
            <md-grid-tile-footer>
                <h3>Current Weight</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="yellow" md-rowspan="1" md-colspan="2">
            <md-grid-tile-footer>
                <h3>Current Goal</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="green" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
            <md-grid-tile-footer>
                <h3>Statistics</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="green" md-rowspan="2" md-colspan="5" md-colspan-sm="1">
            <div id="chart-container">
                <cjs-line dataset="lineData" options="lineConfig"></cjs-line>
            </div>
            <md-grid-tile-footer>
                <h3>Chart Goes here</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="red" md-rowspan="1" md-colspan="3">
            <md-grid-tile-footer>
                <h3>Mood</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="blue" md-rowspan="2" md-colspan="3">
            <md-grid-tile-footer>
                <h3>Another Chart goes here</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="red" md-rowspan="1" md-colspan="2">
            <md-grid-tile-footer>
                <h3>Sleep</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="yellow" md-rowspan="1" md-colspan="3">
            <md-grid-tile-footer>
                <h3>Upcoming workout</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>
</div>